# ===== Python =====
__pycache__/
*.egg-info/
dist/
build/
# ===== Virtual Environment =====
venv/
env/
.venv/
ENV/

# ===== Logs & Temp Files =====
logs/
*.log
*.tmp
*.bak
*.csv

# ==== Config Files =====
config/

# === Data ====
data/
